@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Proyecto Cliente Servidor</h1>
    <p class="lead">Este proyecto utiliza las siguientes tecnologías.</p>
    <ul>
        <li>
            Framework ASP.Net
        </li>
        <li>
            ORM- Entity Framework
        </li>
        <li>
            Lenguaje orientado a objetos: C#
        </li>
        <li>
            Lenguaje del cliente: HTML y Razor
        </li>
        <li>
            Controles graficos con: Kendo UI
        </li>
        <li>
            Autenticación con terceros: Google
        </li>
    </ul>
    
</div>

