<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0d6c96e2-53d5-4c70-8155-fb9b6a78297d/resourcegroups/sc/providers/Microsoft.Web/sites/Client-ServerAuth</ResourceId>
    <ResourceGroup>sc</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://client-serverauth.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>client-serverauth.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Client-ServerAuth</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Client-ServerAuth</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Default" Order="1" Enabled="False">
          <Destination Path="Data Source=projekte.database.windows.net;Initial Catalog=Client-ServerAuth_db;Persist Security Info=True;User ID=dfz23;Password=gerEdit!.$;Application Name=EntityFramework" Name="Data Source=projekte.database.windows.net;Initial Catalog=Client-ServerAuth_db;Persist Security Info=True;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Client_Server.Models.ApplicationDbContext, Client-Server" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=projekte.database.windows.net;Initial Catalog=Client-ServerAuth_db;Persist Security Info=True;User ID=dfz23;Password=gerEdit!.$;Application Name=EntityFramework" Name="Data Source=projekte.database.windows.net;Initial Catalog=Client-ServerAuth_db;Persist Security Info=True;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Client_Server.Data.Entities, Client-Server" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:projekte.database.windows.net,1433;Initial Catalog=Client-ServerAuth_db;Persist Security Info=False;User ID=dfz23;Password=gerEdit!.$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" Name="Data Source=tcp:projekte.database.windows.net,1433;Initial Catalog=Client-ServerAuth_db;Persist Security Info=False;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:projekte.database.windows.net,1433;Initial Catalog=Client-ServerAuth_db;Persist Security Info=False;User ID=dfz23;Password=gerEdit!.$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:projekte.database.windows.net,1433;Initial Catalog=Client-ServerAuth_db;Persist Security Info=False;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Articulo.csdl|res://*/Data.Articulo.ssdl|res://*/Data.Articulo.msl;provider=System.Data.SqlClient;provider connection string="Data Source=projekte.database.windows.net;Initial Catalog=Client-ServerAuth_db;Persist Security Info=True;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projekte.database.windows.net,1433;Initial Catalog=Client-ServerAuth_db;Persist Security Info=False;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Default-Web.config Connection String">
      <ParameterValue>Data Source=projekte.database.windows.net;Initial Catalog=Client-ServerAuth_db;Persist Security Info=True;User ID=dfz23;Password=gerEdit!.$;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Default" />
  </ItemGroup>
</Project>